<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
        Sua beleza
    </ion-title>
    <ion-buttons slot="primary">
        <ion-button color="light" (click)="logout()"><ion-icon slot="end" name="log-out"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<p class="user">Olá {{passedUser}}!</p>  
<ion-content>
  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-label text-wrap>
        <h2>{{user.name}}</h2>
      </ion-label>
      <ion-label text-wrap>
        <p>{{user.username}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
