<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
        Sua beleza
    </ion-title>
    <ion-buttons slot="primary">
        <ion-button color="light" (click)="logout()"><ion-icon slot="end" name="log-out"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<p class="user">Bem vindo(a), {{userlogin}}!</p>   
<ion-content>
  <!-- Adiciona um novo evento -->
  <ion-card>
    <ion-card-header tappable >
      <ion-card-title>Novo Serviço</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input type="text" placeholder="Titulo" [(ngModel)]="event.title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Descrição" [(ngModel)]="event.desc"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Começa</ion-label>
        <ion-datetime 
        displayFormat="DD/MM/YYYY HH:mm"  
        pickerFormat="MMM D:HH:mm" 
        monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez"
        [(ngModel)]="event.startTime" [min]="minDate">
      </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Termina</ion-label>
        <ion-datetime 
        displayFormat="DD/MM/YYYY HH:mm" 
        pickerFormat="MMM D:HH:mm" 
        monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez"
        [(ngModel)]="event.endTime" [min]="minDate">
      </ion-datetime>
      </ion-item>

      <ion-button fill="outline" expand="block" (click)="addEvent()" [disabled]="event.title == ''">Adicionar novo serviço</ion-button>

    </ion-card-content>
  </ion-card>
 
  <ion-row>
    <!-- Muda o display do calendario -->
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'month' ? 'medium' : 'primary'" (click)="changeMode('month')">Mês</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'week' ? 'medium' : 'primary'" (click)="changeMode('week')">Semana</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'day' ? 'medium' : 'primary'" (click)="changeMode('day')">Dia</ion-button>
    </ion-col>
  </ion-row>
  <p class="month">{{viewTitle}}</p>
  <calendar 
  [eventSource]="eventSource" 
  [calendarMode]="calendar.mode" 
  [currentDate]="calendar.currentDate"
  (onEventSelected)="onEventSelected($event)"
  (onTitleChanged)="onViewTitleChanged($event)"
  (onTimeSelected)="onTimeSelected($event)" 
  startHour="6"
  endHour="20"
  [locale]="calendar.locale"
  step="30"
  startingDayWeek="1">
  </calendar>
  </ion-content>
